@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;1,700&family=Source+Sans+3:ital,wght@0,200;0,400;0,600;0,900;1,400;1,600&display=swap');

/* BOX MODEL HACK */
* {
    box-sizing: border-box;
  }
  
  /* I'm giving a base font-size of 62.5% which equals to 10px. Therefore, 1em = 10px. This will allow a simpler calculation of font-sizes, and provide a better user interactivity on different devices and being user friendly. */
  
html {
    font-size: 62.5%;
    color: black;
    font-weight: 100;
    line-height: 2;
    letter-spacing: 0.2rem;
    font-family: 'Source Sans 3', sans-serif;
    scroll-behavior: smooth;
}

:root {
    --lime-color: rgb(210, 236, 143);
    --light-lime-color: rgb(220, 239, 171);
    --green-color: rgb(101, 138, 46);
    --dark-green: rgb(67, 86, 37);
    --dark-green-shadow: rgba(67, 87, 36, 0.6);
    --linear-light: rgba(211, 210, 195, 0.948);
    --linear-yellow: rgba(220, 208, 146, 0.882);
    --linear-green: rgba(100, 154, 19, 0.863);
    --btn-background: rgb(252, 247, 225);
    --black-font: rgb(40, 20, 20);
    --blue-font : rgb(27, 123, 150);
}
  
body {
    margin: 0;
    padding: 0;
    height: 100%;
    /* background: url('https://images.unsplash.com/photo-1658243253492-6c5129e969d7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2940&q=80'); */
    
}

body::after {
    content: "";
    /* background: url('/images/cocktail.jpg'); */
    background: url('/images/lime-cocktail.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;
    filter: opacity(0.6);
}

/* FONT SIZE */

h1 {
    font-size: 2.2rem;
    font-weight: bold;
}

h2 {
    font-size: 3rem;
}
  
h3 {
    font-size: 2.4rem;
}

  
/* LAYOUT */

/* Header */

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: none;
    position: relative;
    z-index: 2;
}

h1 {
    min-width: 20rem;
    white-space: nowrap;
    padding: 1.5rem 0 1rem 2rem;
    margin: 0;
    z-index: 5;
}

h1, h1 a {
    text-decoration: none;
    color: var(--black-font);
    transition: all 0.5s ease-in-out;
}

h1:hover, h1 a:hover {
    transform: scale(1.05);
    color: var(--blue-font);
}

.navButton {
    position: absolute;
    top: 2.5rem;
    right: 2rem;
    flex-direction: column;
    justify-content: space-between;
    width: 3rem;
    height: 3rem;
    z-index: 5;
    transition: all 0.8s ease-in-out;
}
  
.navButton:hover .bar:nth-child(1) {
    transform: translateY(-0.5rem);
}
  
.navButton:hover .bar:nth-child(3) {
    transform: translateY(0.5rem);
}
  
.bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 3rem;
    border: 1.2px solid var(--black-font);
    margin-top: 0.5rem;
    transition: all 0.8s ease-in-out;
}
  
#barOne,
#barThree {
    width: 45%;
}
  
#barThree {
    margin-right: 0;
    margin-left: auto;
}
  
/* Navbar drop down menu */
  
.navLinks ul {
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.navLinks {
    width: 100%;
    overflow: hidden;
    max-height: 0;  
    transition: max-height 0.3s ease-in-out, opacity 0.3s, visibility 0.2s 0.3s;
    background: var(--light-lime-color);
    border-bottom: 1px solid black;
    position: absolute;
    top: 0;
    z-index: 3;
}

.navLinks.active {
    padding: 8rem 0 2rem 0;
    width: 100vw;
    max-height: 26rem; 
}


.navListContainer {
    opacity: 0;
    visibility: hidden;
    max-height: 26rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: visibility 0.2s;
}

.navLinks.active .navListContainer {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s, visibility 0.2s 0.1s;
}
  
.navLinks li {
    list-style: none;
    text-align: center;
    margin: 1rem auto;
    transition: all 0.5s ease-in-out;
}
  
.navLinks li a {
    text-decoration: none;
    padding: 1rem;
    font-size: 2rem;
    font-weight: 600;
    transition: all 0.5s ease-in-out;
    border-bottom: 2px solid var(--light-lime-color);
    color: var(--black-font);
}
  
.navLinks.active li:hover {
    transform: scale(1.1);
}
  
.navLinks.active li a:hover {
    border-bottom: 2px solid var(--blue-font);
}

/* Body */
  
main {
    margin: 0 auto;
    max-width: 110rem;
    /* height: 100%; */
    display: flex;
}

.mainPage {
    height: 100vh;
}

.sectionOne {
    width: 100%;
    max-height: 50rem;
    margin: 0 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.sectionOneDiv {
    max-width: 70rem;
    margin: 10rem auto 0;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    padding: 2rem 4rem;
    color:var(--dark-green);
    background: rgba(255, 255, 255, 0.74);
    /* background: linear-gradient(310deg, var(--linear-yellow), var(--linear-green)); */
    /* background: rgba(211, 196, 195, 0.9); */
    border: 2px solid var(--green-color);
    border-radius: 10px;
    box-shadow: 0 0 20px 5px var(--dark-green-shadow);
}

.sectionOneDiv h2 {
    font-size: 4rem;
    color: var(--green-color);
    font-family: 'Lobster Two', cursive;
    text-align: center;
    padding: 4rem 0;
}

.sectionOneDiv p {
    text-align: justify;
    font-size: 2rem;
    color: var(--black-font);
}

.mixBtn {
    font-size: 2.6rem;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Lobster Two', cursive;
    color: white;
    padding: 2rem 2.5rem;
    position: relative;
    left: 0;
    top: 4rem;
    border-radius: 10px;
    /*background: linear-gradient(45deg, rgb(211, 196, 195), rgba(67, 86, 37)); */
    border: 2px solid transparent;
    background: var(--green-color);
    overflow: hidden;
    transition: all 0.8s ease-in-out;
}

.mixBtn::before, 
.mixBtn::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background: var(--linear-yellow);
    transition: all 0.3s;
}

.mixBtn::before {
    top: 0;
    left: 0;
}

.mixBtn::after {
    bottom: 0;
    right: 0;
}

.mixBtn:hover {
    width: 100%;
    transform: scale(1.04);
    /* background: linear-gradient(45deg, rgba(211, 196, 195),rgba(211, 196, 195), rgba(67, 86, 37)); */
    background: var(--btn-background);
    color: var(--green-color);
    box-shadow: 0 0 20px 5px var(--dark-green-shadow);
}

.sectionTwo {
    width: 40%;
    max-height: 50rem;
}

/*  */

/* Drinks html */

.mainSectionDrinks {
    width: 100%;
    margin: 0 2rem 6rem 2rem;
}

.drinksTextDiv {
    padding: 6rem 0;
    max-width: 90rem;
    margin: 0 auto;
    text-align: center;
}

.drinksTextHeader, .headerTypeCocktail {
    text-align: center;
    color: var(--blue-font);
    font-size: 3.2rem;
    font-family: 'Lobster Two', cursive;
}

.drinksText {
    font-size: 2rem;
    font-weight: 500;
    max-width: 70rem;
    margin: 0 auto;
    text-align: justify;
}

.drinksTypeDiv, .mainIngredientList {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 4rem 0;
}

.mainIngredientList {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
  
.drinkTypeContainer, .ingredientNameContainer {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 20px 5px var(--dark-green-shadow);
    text-align: center;
    cursor: pointer;
}

.drinkTypeContainer {
    width: 30rem;
    height: 30rem;
}

.ingredientNameContainer {
    display: flex;
    width: 20rem;
    height: 20rem;
    margin: 1.5rem;
}

.textHoverImage {
    display: none;
    width: 20rem;
    color: var(--btn-background);
    font-size: 2.5rem;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}
  
.drinkType1, .drinkType2, .ingredientImage {
    width: 100%;
    height: 100%;
    transition: transform 0.8s ease-in-out, filter 0.8s ease-in-out;
    transform: scale(1.2);
    /* z-index: 3; */
}
  
.drinkType1 {
    background: url('/images/alcoholic-drink.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
  
.drinkType2 {
    background: url('/images/non-alcoholic-drink.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* .ingredientImage {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
} */

.drinkTypeContainer:hover .textHoverImage {
    display: block;
}

.drinkTypeContainer:hover .drinkType1,
.drinkTypeContainer:hover .drinkType2 {
  filter: brightness(30%);
  transform: scale(1.0);
}

.drinkTypeContainer:hover, .ingredientNameContainer:hover {
  filter: brightness(100%);
}

/* Main Ingredient List */

.ingredient-1 {
    background: url('https://images.unsplash.com/photo-1601751818941-571144562ff8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2788&q=80');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.ingredient-2 {
    background: url('https://images.unsplash.com/photo-1610631717083-6aaf48db5b77?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2835&q=80');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.ingredient-3 {
    background: url('https://images.unsplash.com/photo-1602166242292-93a00e63e8e8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2788&q=80');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.ingredient-4 {
    background: url('https://images.unsplash.com/photo-1583552188783-709c90220745?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2803&q=80');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.ingredient-5 {
    background: url('https://images.unsplash.com/photo-1688667321074-1c50cecf49cb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2805&q=80');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.ingredient-6 {
    background: url('https://images.unsplash.com/photo-1516535794938-6063878f08cc?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2788&q=80');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.ingredientNameContainer:hover .ingredient-1,
.ingredientNameContainer:hover .ingredient-2,
.ingredientNameContainer:hover .ingredient-3,
.ingredientNameContainer:hover .ingredient-4,
.ingredientNameContainer:hover .ingredient-5,
.ingredientNameContainer:hover .ingredient-6 {
    filter: brightness(30%);
    transform: scale(1.0);
}

.ingredientNameContainer:hover .textHoverImage {
    display: block;
}

/* API fetch */

.sectionInput {
    width: 100%;
    margin: 0 auto;
}

.sectionInput {
    padding: 2rem 0;
    text-align: center;
    width: 100%;
    background: none;
    height: 100%;
}

.sectionInput {
    border-radius: 16px 16px 0 0;
}

/* .sectionDrink {
    min-height: 67rem;
    border-radius: 0 0 16px 16px;
} */
  
h3 {
    width: 60%;
    margin: 0 auto;
    padding: 3rem 0;
    color: var(--blue-font);
}

img{
    display: block;
    margin: 0 auto;
    height: 20rem;
    border-radius: 16px;
}

img:hover {
    transform: scale(1.1);
    transition: all 0.8s ease;
}


.drinkInput {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


input {
    font-weight: 500;
    font-size: 1.5rem;
    height: 3rem;
    width: 15rem;
    text-align: center;
    border: 1px solid var(--blue-font);
    border-radius: 5px 0 0 5px;
    caret-color: var(--blue-font);
}
  
input:focus {
    outline: none;
    box-shadow: 0 0 20px #9ecaed;
}
  
button {
    font-weight: 600;
    font-size: 1.5rem;
    height: 3rem;
    width: 15rem;
    padding: 5px;
    text-align: center;
    border: 1px solid var(--blue-font);
    border-left: 0px;
    border-radius: 0 5px 5px 0;
    color: var(--blue-font);
    background: none;
    cursor: pointer;
    transition: all 0.5s ease;
}
  
button:hover {
    color: white;
    background-color: var(--blue-font);
    border: 1px solid var(--blue-font);
    box-shadow: 0 0 20px #9ecaed;
    
}

/* Footer */

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 1rem 0;
    text-align: center;
    background: var(--lime-color);
}

.copyrightFooter {
    color: var(--black-font);
    font-size: 1.6rem;
    font-weight: 600;
    font-family: 'Lobster Two', cursive;
}

.copyrightFooter a {
    color: var(--black-font);
    text-decoration: none;
    transition: all 0.6s ease-in-out;
}

.copyrightFooter a:hover {
    transform: scale(1.02);
    color: var(--blue-font);
    font-weight: bold;
}

/* Media Queries */

@media screen and (max-width: 760px) {

    .mainSectionDrinks {
        width: 100%;
        margin: 0 4rem;
    }

    .drinksTypeDiv {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .drinkTypeContainer {
        margin-bottom: 5rem;
    }
    
}


