@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;1,700&family=Source+Sans+3:ital,wght@0,200;0,400;0,600;0,900;1,400;1,600&display=swap');

/* BOX MODEL HACK */
* {
    box-sizing: border-box;
  }
  
  /* I'm giving a base font-size of 62.5% which equals to 10px. Therefore, 1em = 10px. This will allow a simpler calculation of font-sizes, and provide a better user interactivity on different devices and being user friendly. */
  
html {
    font-size: 62.5%;
    color: black;
    font-weight: 100;
    line-height: 2;
    letter-spacing: 0.2rem;
    font-family: 'Source Sans 3', sans-serif;
}
  
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: url('/images/cocktail.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    /* background: url('https://images.unsplash.com/photo-1658243253492-6c5129e969d7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2940&q=80'); */
    
}

/* FONT SIZE */

h1 {
    min-width: 20rem;
    white-space: nowrap;
    color: rgb(40, 20, 20);
    font-size: 2.2rem;
    font-weight: bold;
    padding: 1.5rem 0 1rem 2rem;
    margin: 0;
    z-index: 5;
}

h2 {
    font-size: 3rem;
}
  
h3 {
    font-size: 2.4rem;
}

  
/* LAYOUT */

/* Header */

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: none;
    position: relative;
    z-index: 2;
}

.navButton {
    position: absolute;
    top: 2.5rem;
    right: 2rem;
    flex-direction: column;
    justify-content: space-between;
    width: 3rem;
    height: 3rem;
    z-index: 5;
    transition: all 0.8s ease-in-out;
}
  
.navButton:hover {
    transform: scale(1.1);
}
  
.bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 3rem;
    border: 1.2px solid rgb(40, 20, 20);
    margin-top: 0.6rem;
}
  
#barOne,
#barThree {
    width: 45%;
}
  
#barThree {
    margin-right: 0;
    margin-left: auto;
}
  
/* Navbar drop down menu */
  
.navLinks ul {
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.navLinks {
    width: 100%;
    overflow: hidden;
    max-height: 0;  
    transition: max-height 0.3s ease-in-out, opacity 0.3s, visibility 0.2s 0.3s;
    background: rgb(229, 210, 211);
    border-bottom: 1px solid black;
    position: absolute;
    top: 0;
    z-index: 3;
}

.navLinks.active {
    padding: 8rem 0 2rem 0;
    width: 100vw;
    max-height: 26rem; 
}


.navListContainer {
    opacity: 0;
    visibility: hidden;
    max-height: 26rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: visibility 0.2s;
}

.navLinks.active .navListContainer {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s, visibility 0.2s 0.1s;
}
  
.navLinks li {
    list-style: none;
    text-align: center;
    margin: 1rem auto;
    transition: all 0.5s ease-in-out;
}
  
.navLinks li a {
    text-decoration: none;
    padding: 1rem;
    font-size: 2rem;
    font-weight: 600;
    transition: all 0.5s ease-in-out;
    border-bottom: 2px solid rgb(229, 210, 211);
    color: rgb(67, 86, 37);
}
  
.navLinks.active li:hover {
    transform: scale(1.1);
}
  
.navLinks.active li a:hover {
    border-bottom: 2px solid rgb(67, 86, 37);
}

/* Body */
  
main {
    margin: 0 auto;
    max-width: 110rem;
    height: 100vh;
    display: flex;
}

.sectionOne {
    width: 60%;
    max-height: 50rem;

    /* border: 1px solid red; */
}

.sectionOneDiv {
    max-width: 50rem;
    position: relative;
    top: 6rem;
    left: 6rem;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    padding: 2rem 4rem;
    color:rgb(67, 86, 37);
    background: rgba(211, 196, 195, 0.9);
    border: 2px solid rgb(67, 87, 36);
    border-radius: 10px;
    box-shadow: 0 0 20px rgb(67, 87, 36);
}

.sectionOneDiv h2 {
    font-size: 3.2rem;
    font-family: 'Lobster Two', cursive;
    text-align: left;
}

.sectionOneDiv p {
    text-align: left;
    color: rgb(40, 20, 20);
}

.mixBtn {
    font-size: 2.6rem;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Lobster Two', cursive;
    color: white;
    padding: 2rem 2.5rem;
    position: relative;
    left: 0;
    top: 4rem;
    border-radius: 10px;
    background: rgb(67, 87, 36);
    border: 2px solid rgb(67, 87, 36);
    transition: all 0.8s ease-in-out;

}

.mixBtn:hover {
    transform: scale(1.04);
    background: rgba(211, 196, 195);
    color: rgb(67, 87, 36);
    box-shadow: 0 0 20px rgb(67, 87, 36);
}

.sectionTwo {
    width: 40%;
    max-height: 50rem;
}

/*  */






/* Drinks html */

.sectionInput, .sectionDrink {
    margin: 0 auto;
    padding: 2rem 0;
    text-align: center;
    width: 100%;
    background: none;
    height: 100%;
}

.sectionInput {
    border-radius: 16px 16px 0 0;
}

.sectionDrink {
    min-height: 67rem;
    border-radius: 0 0 16px 16px;
}
  
h3 {
    width: 60%;
    margin: 0 auto;
    padding: 3rem 0;
    color: rgb(27, 123, 150);
}

img{
    display: block;
    margin: 0 auto;
    height: 20rem;
    border-radius: 16px;
}

img:hover {
    transform: scale(1.1);
    transition: all 0.8s ease;
}


.drinkInput {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


input {
    font-weight: 500;
    font-size: 1.5rem;
    height: 3rem;
    width: 15rem;
    text-align: center;
    border: 1px solid rgb(27, 123, 150);
    border-radius: 5px 0 0 5px;
    caret-color: rgb(27, 123, 150);
}
  
input:focus {
    outline: none;
    box-shadow: 0 0 20px #9ecaed;
}
  
button {
    font-weight: 600;
    font-size: 1.5rem;
    height: 3rem;
    width: 15rem;
    padding: 5px;
    text-align: center;
    border: 1px solid rgb(27, 123, 150);
    border-left: 0px;
    border-radius: 0 5px 5px 0;
    color: rgb(27, 123, 150);
    background: none;
    cursor: pointer;
    transition: all 0.5s ease;
}
  
button:hover {
    color: white;
    background-color: rgb(27, 123, 150);
    border: 1px solid rgb(27, 123, 150);
    box-shadow: 0 0 20px #9ecaed;
    
}

/* Footer */

footer {
    
    width: 100%;
    padding: 1rem 0;
    text-align: center;
    background: rgb(229, 210, 211);
}

.copyrightFooter {
    color: rgb(40, 20, 20);
    font-size: 1.6rem;
    font-weight: 600;
    font-family: 'Lobster Two', cursive;
}

.copyrightFooter a {
    color: rgb(40, 20, 20);
    text-decoration: none;
    transition: all 0.6s ease-in-out;
}

.copyrightFooter a:hover {
    transform: scale(1.02);
    color: rgb(10, 106, 133);
    font-weight: bold;
}